/* 「根」等同於html檔案裡面的<html>，在這裡把顏色設定成變量可以方便管理調整會一直使用到的顏色，也不用每次使用顏色都寫色票 */
:root {
    --white: #F5F7EF;
    --light-pink: #F7CCC4;
    --pink: #F5A9B5;
    --pale-pink: #DFAAB6;
    --dark-pink: #DC7692;
}

body {
    /* 整個<body>為視窗畫面的100% */
    height: 100vh;
    width: 100vw; 
    
    background-color: var(--white);
    margin: 0; /* 因為瀏覽器預設會有margin: 8px，所以把margin設為0這樣比較方便調位置 */
    overflow-x: hidden; /* 超過的就藏起來，x指的是x軸方向橫向 */
}

header {
    height: 100px;
    width: 100vw;
    position: fixed; /* 位置fix在畫面的某處 */
    top: 0; /* 如果使用position: absolute或fixed之後，調整位置就可以用top、left、bottom、right，不然不能用 */
    background-color: var(--pink);
    display: flex; /* 因為header裡面的物件要橫向排列，所以要用flex */
    z-index: 999; /* 這是用來決定圖層層級的，通常不會用，但如果一定一定在最上層的就可以用 */
}

header .logo {
    height: 100%; /* 跟他的爸爸<header>一樣高 */
    width: calc(100% * 2 / 12); /* calc就是單字calculate計算的意思，計算寬度為爸爸<header>寬度的100%的2/12 */

    display: flex; /* 以下就是在display設為flex的情況下 */
    justify-content: center; /* 左右置中 */
    align-items: center; /* 上下置中 */
}

header .logo img {
    height: 80%; /* 80%是根據誰上面寫過了！接下來重複的都自己找囉！ */
}

header nav {
    height: 100%;
    width: calc(100% * 8 / 12);
}

header nav ul {
    height: 100%;
    display: flex; /* 為了讓ul裡面的li都橫向排列 */
    list-style-type: none; /* ul有預設每個li前面都有一個點，把他去掉 */

    margin: 0;
    padding: 0; /* ul預設會往右移一點點，我也不知道為啥，反正這樣可以解決 */
}

header nav ul li {
    height: 100%;
    width: 20%;
}

header nav ul li:hover {
    background-color: var(--pale-pink);
}

header nav ul li a {
    display: block; /* 因為本來超連結<a>跟<p>一樣是行級元素，所以把它變成block塊級元素，可以佔滿整個li，讓整個li都可以按到超連結 */
    height: 100%;
    width: 100%;
    
    /* 上面說過囉～～ */
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none; /* 讓超連結醜巴巴的底線不見 */
    color: black; /* 動動腦筋！為啥我要特別設為黑色嘎嘎嘎（問題一） */
}

header .search {
    height: 100%;
    width: calc(100% * 2 / 12);
    display: flex; /* 自己想！為什麼要寫這個，然後告訴我！！（問題二） */
    justify-content: center;
    align-items: center;
}

header .search input {
    height: 30px;
    width: 50%;
    outline: none; /* 把input框被點選後預設的藍色框框線刪掉 */
    border: none; /* 把input框預設的外框線刪掉 */
    border-radius: 999px; /* 把圓角變超大，意思就是把角變原形，因為圓形不能再圓了 */
    padding-left: 12px;
    margin-right: 5px;
}

header .search button {
    height: 30px;
    border-radius: 999px;
    border: none;
    background-color: var(--light-pink);
    margin-left: 5px;

    cursor: pointer; /* 這比較特別！，瀏覽器預設<a>跟<button>應該手放上去會變小手手
    但是！但是！有時會被奇怪的原因覆蓋，甚至根本不知道為啥，所以加上這行可以一定讓他變小手手 */
}

header .search button:active {
    /* （問題三）active是什麼用途？為什麼這要用active？ */
    background-color: var(--pale-pink);
}

.img-carousel {
    position: relative; /* （問題四）見.img-btn-bar */
    background-color: black;
    height: 70%;
    width: 100%;
    margin-top: 100px; /* 因為上面的一部分會被<header>擋住，所以往下移距離上面的高度是<header>的100px */
}

.img-carousel .img-container {
    height: 100%;
    width: 100%;
    display: flex; /* 讓container裡面的每個東西都橫著長 */
    overflow: hidden; /* （問題五）為什麼這裡要hidden呢？是這個功能的最大關鍵唷！ */
}

/* 這很特別！-webkit是針對chrome跟safari的排版引擎 */
.img-carousel .img-container::-webkit-scrollbar {
    display: none; /* 隱藏滾動條 */
}

.img-carousel .img-container .img-single {
    height: 85%;
    min-width: 50%;
    margin-top: 2%;
    margin-left: 25%;
    margin-right: 25%;
    background: #fff;
    border-radius: 8px;
}

.img-carousel .img-container .img-single img {
    height: 100%;
    width: 100%;
    object-fit: cover; /* 讓圖片不變形的覆蓋在寫好的長寬裡 */
    border-radius: 8px;
}

.img-carousel .img-btn-bar {
    display: flex;
    justify-content: space-between;

    position: absolute; /* 重要！！重要！！（問題四）position: absolute用法跟.img-carousel的position: relative有神馬關係？ */
    top: 43%;
    width: 90%;
    left: 5%;
    
    color: white;
}

.img-carousel .img-btn-bar .change-btn {
    cursor: pointer;
    font-size: 3em;
    font-weight: 900;
    user-select: none; /* 因為這裡的上下頁符號我用〈、〉文字寫的，所以我讓他不要可以被使用者選起來 */
}

.img-carousel .img-btn-bar .prev-btn:hover {
    margin-top: -6px;
    margin-left: -8px;
    font-size: 3.6em;
}

.img-carousel .img-btn-bar .next-btn:hover {
    margin-top: -6px;
    margin-right: -8px;
    font-size: 3.6em;
}

.img-carousel .img-page-bar {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 52px;
    width: 150px;
}

.img-carousel .img-page-bar .img-page {
    height: 10px;
    width: 10px;
    border-radius: 999px;
    background-color: white;
    cursor: pointer;
}

.img-carousel .img-page-bar .img-page:hover {
    transform: scale(1.3); /* 放大1.3倍 */
}

article {
    padding-left: 50px;
    padding-right: 50px;
}

article h1 {
    font-size: 2.5em; /* 2.5em就是爸爸字體的大小的2.5倍，爸爸article沒有設定字體大小那就是預設16px的2.5倍，可以自己改成40px試試看！
    這樣做方便我們依照相同比例，只要改article甚至只要改body的字體大小就能等比例改全部內容字體大小，不用改超多卻漏改或爆版*/
}